@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    background-color: rgb(32, 179, 147);
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#logo {
    max-width: 100px;
}
#ev1 {
    max-width: 100%;
}
li {
    display: inline-block;
    margin: 20px;
}
main {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
h2 {
    font-size: 260%;
    line-height: 10px;
    font-family: 'Bebas Neue', cursive;
}
   