@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root{
    --font001: Verdana, Geneva, Tahoma, sans-serif;
    --font002: 'Passion One', cursive;
    --font003: 'Sriracha', cursive;
}
*{
    margin: 0;
    padding: 0;
}
html, body{
    font-family: var(--font001);
    min-height: 100vh;
    background-color: darkgrey;
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    font-family: var(--font002);
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 10vw;
}
header > p{
    padding-bottom: 50px;
}
header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
header a:hover, footer a:hover{
    text-decoration: underline;
}
section{
    font-family: var(--font003);
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3.5vw;
}
section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    background-color: rgb(58, 57, 57);
    color: white;
}
section.imagem > p{
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.795);
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}