body{
    margin-top: 200px;
    margin-left: 200px;
    background-color: #3a17b8;
}

.button{
    text-decoration: none;
    font-size: 15px;
    color: white;
    padding: 10px 25px;
    border: 3px solid white;
    position: relative;
    }
.button:hover{
    text-decoration: none;
    }
.button::before,
.button::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border: inherit;
    transition: all .5s;
    }
.button::before{
    top: -15px;
    left: -15px;
    border-width: 3px 0 0 3px;
    }
.button:after{
    bottom: -15px;
    right: -15px;
    border-width: 0 3px 3px 0;
    }
.button:hover::before,
.button:hover::after{
    width: calc(100% + 27px);
    height: calc(100% + 27px);
    }
/*
*/
.button2{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    outline: 2px solid white;
    padding: 30px 60px;
    position: absolute;
    overflow: hidden;
    transition: color 1s;
}
.button2:hover{
    color: #3a17b8;
}
.button2::before{
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    width: 0;
    height: 100%;
    background-color: white;
    transform: skewX(35deg);
    z-index: -1;
    transition: width 1s;
}
.button2:hover::before{
    width: 150%;
}
/*
*/
.spinner{
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.spinner::before,
.spinner::after{
    content: "";
    position: absolute;
    border-radius: inherit;
}
.spinner:before{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        0deg, black 0%,
        white 100%);
    animation: spin .5s infinite linear;
}
.spinner:after{
    width: 85%;
    height: 85%;
    background-color: #3a17b8;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@keyframes spin{
    to{
        transform: rotate(360deg);
    }
}
/*
*/
.cards{
    perspective: 500px;
}
.card{
    width: 200px;
    height: 250px;
    background: url(imagens/cardtorreeiffel.jpg)
    center no-repeat;
    background-size: cover;
    border: 1px solid
    white;
    border-radius: 4px;
    position: relative;
    transform-style: preserve-3d;
    will-change: transform;
    transition: transform .5s;
}
.card:hover{
    transform: translate(10px)
    rotateX(15deg) rotateY(30deg);
}
.card-title{
    color: white;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    transition: transform .5s;
}
.card:hover .card-title{
    transform: translateZ(40px);
}
.card2{
    width: 150px;
    height: 200px;
    background-color: black;
    border-radius: 10px;
    outline: 1px solid lightgray;
    outline-offset: -8px;
    box-shadow: 3px 3px 10px black;
    position: relative;
    overflow: hidden;
}
.card-image2{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .6;
    transition: transform .75s;
}
.card2:hover .card-image2{
    transform: scale(1.15);
}
.card-title2{
    position: absolute;
    left: 15px;
    bottom: 15px;
    font-size:20px;
    text-shadow: 0 0 1px black;
}