@charset "UTF-8";
@font-face {
    font-family: 'Android';
    src: url(fontes/idroid.otf) format('opentype');
    font-weight: normal;
}
:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    --fonte-padrao: Arial, Verdana, Helvetica, serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive, sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #c5ebd6;
    font-family: var(--fonte-padrao);
}
a.externo::after{
    content: '\1F517';
}
header{
    min-height: 150px;
    text-align: center;
    background-color: var(--cor4);
    padding-top: 40px;
    background-image: linear-gradient(180deg, var(--cor3), var(--cor4));
}
header > h1{
    color: white;
    font-family: var(--fonte-destaque);
    margin-bottom: 30px;
    margin: auto;
    max-width: 500px;
    font-size: 3em;
    text-shadow: 2px 2px black;
    font-weight: normal;
}
header > p{
    color: white;
    font-size: 1.3em;
    padding-right: 10px;
    padding-left: 10px;
    font-family: var(--fonte-padrao);
    text-shadow: 2px 2px black;
}
nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 9px black;
}
nav > a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.3s;
}
nav > a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
}
main{
    min-width: 280px;
    max-width: 850px;
    background-color: white;
    margin: auto;
    padding: 0 15px 15px 15px;
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
main h1{
    padding: 15px 0;
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;
}
main h2{
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    font-weight: normal;
    text-indent: 8px;
}
main p{
    margin: 15px 0; 
    text-align: justify;
    text-indent: 15px;
    line-height: 1em;
}
main strong{
    color: var(--cor4);
    font-weight: bold;
    padding: 2px 6px;
}
main a{
    background-color: var(--cor1);
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    padding: 2px 6px;
}
main a:hover{
    text-decoration: underline;
    color: var(--cor4);
}
main img{
    width: 100%;
}
main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}
div.video{
    background-color: var(--cor5);
    margin-bottom: 30px;
    margin: 0px -20px;
    padding: 20px;
    position: relative;
    padding-bottom: 58%;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
aside{
    margin-top: 30px;
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    text-indent: 20px;
    text-align: justify;
    box-shadow: 3px 3px 8px black;
}
aside > p{
    outline: 10px 0;
}
aside > ul{
    padding: 10px 0;
    list-style-position: inside;
    columns: 2;
    list-style-type: '\2714\00A0\00A0';
}
aside >  h3{
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0 -10px;
    border-radius: 10px 10px 0 0;
}
abbr{
    text-decoration: none;
}
footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}
footer >  p > a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
    color: var(--cor1);
}