@charset "UTF-8";
* {
    box-sizing : border-box;
    text-indent: 20px;
}
body{
    margin: 0px;
    background-color: rgb(115, 232, 115);
}
h2{
    margin-top: 0%;
    color: rgb(22, 105, 22);
    padding-top: 30px;
}
h3{
    color: rgb(22, 105, 22);
    background-color: rgba(80, 205, 80, 0.533);
}
h4{
    border-radius: 10px 10px 0 0;
    padding: 15px;
    color: white;
    background-color: rgb(13, 60, 13);
}
p{
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
main > p{
    text-align: justify;
}
.midia{
    text-align: center;
}
ul{
    list-style-type: '\2714\0020\0020';
    columns: 2;
    list-style-position: inside;
    font-family: Arial, Helvetica, sans-serif;
}
p#ultimo {
    margin-bottom: 0%;
}
header{
    display: block;
    background-image: linear-gradient(360deg, rgb(22, 105, 22), rgb(33, 201, 33));
    color: white;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 30px;
    font-family: Bebas Neue;
}
header > h1{
    margin-top: 0px;
}
nav{
    background-color: rgb(22, 105, 22);
    padding: 3px;
}
nav > a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: normal;
    margin-right: 30px;
}
nav > a:hover{
    text-decoration: underline;
}
main{
    background-color: white;
    margin: auto;
    width: 800px;
    font-family: Abril Fatface;
}
section#video{
    background-color: rgb(13, 60, 13);
    margin: auto;
    padding: 10px 0px;
}
article{
    background-color: rgb(78, 164, 78);
    border-radius: 10px;
    margin: 16px;
}
footer{
    text-align: center;
    padding: 10px;
    color: white;
    margin: 0%;
    background-color: rgb(13, 60, 13);
}
