@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right, #486966, #889C9B, #B2BEBF 58%);
}
p{
    text-align: justify;
}
main{
    background-color: white;
    border-radius: 3%;
    box-shadow: 5px 5px 15px #a04b4e;
    width: 55%;
    padding: 5%;
    margin: auto;
    margin-top: auto;
}
h1{
    text-align: center;
    text-shadow: 1px 1px 2px #797671 ;
    color: #BD2A2E;
}
h2{
    color: #3B3936;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: #486966;
}