body{
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 16px;
}
a {
    color: white;
    text-decoration: none;
}
header img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid rgb(20, 113, 253);
}

.center{
    text-align: center;
}
h1{
    color: rgb(20, 113, 253);
}
footer img{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 2px solid rgb(20, 113, 253);
}
footer{
    display: flex;
    justify-content: center;
}
footer a{
    margin: 20px;
    text-align: center;
}
footer p{
    margin-top: 2px;
}
.container{
    padding: 0px 50px;
}

nav a:hover{
    color: rgb(20, 113, 253);;
}

