@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Escrita';
    src: url('Florilane Cardillac.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; 
    /*
    Tipos de Format: 
    -opentype (otf)
    -truetype (ttf)
    -embedded-opentype
    -truetype-aat
    svg
    */
}

body{
    font-family: 'work sans', sans-serif;
    /*
    Agora falando de medidas de fontes: 

    Medidas absolutas:
    cm, mm, in, px, pt, pc

    Medidas relativas: 
    em = 16px (Relativo ao tamanho da letra maiuscula de uma fonte)

    ex (Relativo ao tamanho da letra x da familia da fonte, caso vc seja do futuro, tamanho x é o tamanho do corpo da letra/grifo x da familia da fonte)

    rem (Relativo ao tamanho da letra maiuscula de uma fonte que esta configurada no body da sua pagina)

    vw (View width -  Relativo ao tamanho de tela)

    vw (View height -  Relativo ao tamanho de tela)

    % 
    */
    font-size: 1em;
    font-weight: bolder;
    font-style: italic;
    text-decoration: underline;
    /*
    Para que seja possivel simplificar essas 4 declarações do CSS utilizaremos a tag font e colocaremos as especificações na seguinte ordem

    font-style --> font-weight --> font-size --> font-family
    */
}
h1{
    font-size: 4em;
    font-family: 'Escrita', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: #ff0000;
}